/target

# direnv related temp files/directories
.direnv
/result*

/tests/nodes/*/fiber/store
/tests/nodes/*/config.yml
/tests/nodes/*/dev.toml
/tests/deploy/udt-init/target
tests/nodes/.ports
/coverage-report
/*.info
.vscode
