/target

# direnv related temp files/directories
.direnv
/result*
.DS_Store

/tests/nodes/*/fiber/store
/tests/nodes/*/config.yml
/tests/nodes/*/dev.toml
/tests/nodes/*.log
/tests/deploy/udt-init/target
tests/nodes/.ports
/coverage-report
/*.info
.vscode
/migrate/target
/package-lock.json
*.txt
/node_modules
/index.html
/fiber-wasm-worker.js
/fiber-db-worker.js
/wasm-config.yml
/index*.html
/dump*.txt
/fiber-js/dist
/crates/fiber-wasm/dist
/crates/fiber-wasm-db-worker/dist
crates/fiber-lib/fuzz/corpus/
crash-*
package-lock.json
target
baseline.json
current.json
comparison_report.txt
