[package]
name = "fnn"
version = "0.2.1"
edition = "2021"
build = "src/build.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.5.2", features = ["derive", "env", "string"] }
clap-serde-derive = "0.2.1"
serde = { version = "1.0.197", features = ["derive"] }
serde_yaml = "0.9.32"
lightning-invoice = { version = "0.29.0" }
bitcoin = { version = "0.30.2", features = ["serde", "rand"] }
bech32 = "0.8"
rand = "0.8.5"
serde_json = { version = "1.0" }
home = "0.5.9"
ckb-sdk = "3.4"
thiserror = "1.0.58"
anyhow = "1.0.81"
tentacle = { version = "0.6.6", default-features = false, features = ["upnp", "parking_lot", "openssl-vendored", "tokio-runtime", "tokio-timer", "ws"] }
futures = "0.3.30"
once_cell = "1.19.0"
tokio-util = { version = "0.7.10", features = ["rt"] }
molecule = { version = "0.8.0", default-features = false }
ckb-types = "0.118.0"
ckb-gen-types = "0.118.0"
ckb-jsonrpc-types = "0.118.0"
ckb-chain-spec    = "0.118.0"
ckb-resource      = "0.118.0"
rocksdb = { package = "ckb-rocksdb", version = "=0.21.1", features = [
    "lz4"
], default-features = false }
serde_with = { version = "3.7.0", features = ["macros", "base64"] }
hex = "0.4.3"
jsonrpsee = { version = "0.22", features = ["server", "macros"] }
bitflags = { version = "2.5.0", features = ["serde"] }
ckb-hash = "0.115.0"
secp256k1 = { version = "0.28.0", features = ["serde", "recovery", "rand-std"] }
musig2 = { version = "0.0.11", features = ["secp256k1", "serde"] }
ractor = "0.14.2"
arcode = "0.2.4"
nom = "7.1.3"
regex = "1.10.5"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
socket2 = "0.5.7"
lnd-grpc-tonic-client = "0.3.0"
git-version = "0.3.9"
fiber-sphinx = "2.1.0"
strum = { version = "0.26", features = ["derive"] }
tokio = { version = "1", features = [
    "io-util",
    "macros",
    "rt",
    "rt-multi-thread",
    "sync",
    "net",
    "time",
    "signal",
] }
indicatif = "0.16"
console = "0.15.8"
bincode = "1.3.3"
num_enum = "0.7.3"

[features]
default = []
portable = ["rocksdb/portable"]

[profile.release]
panic = "abort"
overflow-checks = true

[profile.dev]
panic = "abort"

[dev-dependencies]
tempfile = "3.10.1"
ckb-testtool = "0.13.2"

[lints.clippy]
needless-return = "allow"
mutable-key-type = "allow"
upper-case-acronyms = "allow"
fallible-impl-from = "allow"
expect-fun-call = "allow"
large-enum-variant = "allow"
