name: Unittests for wasm32-unknown-unknown
on:
  push:
    branches: develop
  workflow_dispatch:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  unit-test:
    name: Run unit tests in browser
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main

      - name: Install rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Install wasm-pack
        run: cargo install wasm-pack

      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Run tests (without async-trait)
        run: |
          make wasm-test

